*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.contact{
    min-height: 100vh;
    background-color: #e8f0fe;
    padding: 50px;
    text-align: center;
}
.container{
    font-size: 36px; 
    margin-bottom: 40px;
    color: #333;
}
.contact-wrapper{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-gap:30px;
}
.contact-form{
    text-align: left;
}
.contact-form h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}
.form-group{
    margin-bottom: 20px;
}
input, textarea{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #f8f9fa;
    color:#333;
}
input:focus,
textarea:focus{
    outline: none;
    box-shadow: 0 0 8px #bbb;
}
button{
    display: inline-block;
    padding: 12px 24px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: #45a049;
}
.contact-info h3{
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}
.contact-info p{
    margin-bottom: 10px;
    color: #555;
}
.contact-info i{
    color:#4caf50;
    margin-right: 50px;
}
@media screen  and(max-width:768px){
    .container{
        padding: 20px;
    }
    .contact-wrapper{
        grid-template-columns:1fr;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
   
    margin: auto;
}
.row{
    display:flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: aliceblue;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91ee9;
    height:2px ;
    box-sizing:border-box;
    width: 60px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color:#ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align:center ;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition:all 0.5s ease
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
/*responsive*/
@media(max-width:767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
}
}
@media(max-width:574px){
    .footer-col{
        width: 10%;
        margin-bottom: 30px;
}
}
