*{
    margin: 0%;
    padding:0px ;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;

}
body{
    margin: 0%;
    padding: 0;
    align-items: center;
    min-height: 100vh;
    background: url(1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.logo{
    font-size: 2em;
    color: #fff;
    user-select: none;

}
.navigation a{
    position: relative;
    font-size: 1.1em;
    color:#fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a::after{
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    height: 3px;
    background: #fff;
    border-radius: 5px;
}
.navigation a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.navigation .btnlogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1em;
    color:#fff;
    font-weight: 500;
    margin-left: 40px;
    transition:-5s;
}
.navigation .btnlogin-popup:hover{
    background: #fff;
    color: #000;
}
.wrapper{
    position: absolute;
    width: 430px;
    height: 490px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    top: 180px;
    right:520px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper .form-box{
    width: 100%;
    padding: 40px;
}
.form-box h2{
    font-size: 2em;
    color: #000;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #000;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left:5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #000;
    font-weight: 500;
    pointer-events: none;
    transition: -5s;
}
.input-box input:focus~label,

.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    padding:  0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.1em;
    color: #000;
    line-height: 57px;
}
.remember-forgot{
    font-size: -9rem;
    color: #000;
    font-weight: 500;  
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
    accent-color:#333;
    margin-right: 3px;
}
.remember-forgot a{
    color: #000;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    background: #d8b7b7;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
    color: #1a1616;
    font-weight: 500;
}
.btn:hover{
    background-color: rgb(119, 143, 83);
}
.login-register{
    font-size: .9em;
    color: #333;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a{
    color: #8b28c1;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a :hover{
    text-decoration: underline;

}